<h2 mat-dialog-title>Rename
  <mat-divider></mat-divider>
</h2>
<mat-dialog-content>
  <p>What would you like to rename it to?</p>
  <mat-form-field class="formfield">
    <input matInput [placeholder]="data.placeholder" [(ngModel)]="data.title">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="flex-item">
  <button mat-button [mat-dialog-close]="undefined" class="actionButtons">Cancel</button>
  <button mat-button [mat-dialog-close]="data.title" cdkFocusInitial disabled="{{checkDisabled(data.title)}}" class="actionButtons">Confirm</button>
</mat-dialog-actions>