<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-id="id">
    <button mat-menu-item (click)="rename(id)">Rename</button>
    <button mat-menu-item (click)="delete(id)">Delete</button>
  </ng-template>
</mat-menu>
<mat-list class="flexbox">
  <h3 class="entries">Entries:</h3>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor='let entry of getEntries()' class="flex-item">
    <h3 mat-line (click)='alertEditor(entry.id); this.sidebar.closeSidebar()' class="date">{{entry.date}}</h3>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{id: entry.id}">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>