mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  overflow: hidden;
}

mat-drawer {
  overflow: hidden;
}

.drawer{
  box-shadow: 1px 1px 6px 2px #ccc;
  height: auto;
}

.drawer-child {
  height: 100%;
}